@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    list-style: none;
}

/* Barra menu */
.header {    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10vh;
    background-color: #F8F3E5;  
    transition: min-height 0.5s ease;    
}
.header.open {
    min-height: 17em;
}
.container {
    /*max-width: 1200px;*/
    margin: 0 auto;
}
.menu {
    position: relative;    
    display: flex;
    align-items: center;
    justify-content: space-between;    
    width: 100%; 
}
.logo {
    margin-left: 20px;   
    width: 50px;
    height: 50px;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #ce967b;
    display: block;    
    font-weight: 600;
    text-decoration: none;
    outline: none;
}
.menu .navbar ul li a:focus {
    outline: none; 
}
.menu .navbar ul li a:hover{
    color: #f7d0bd;
}
#menu { /* id del checkbox */
    display: none;    
}
.menu-icono {    
    width: 50px;    
    outline: none;
    text-decoration: none;
}
.menu-icono:focus {
    outline: none;
}
.menu label {
    cursor: pointer;
    display: none;
}

/* Logo Oscar */
.logo-imagen {
    text-align: center;
    width: 100%;   
    background-color: #F8F3E5;     
    max-width: 100%; 
    height: auto; 
    padding-bottom: 70px;
}
.logo-imagen img {
    width: 250px;    
}

/*Direccion complemento */
.d-container {
      position: relative;
      width: 100%;
      height: auto;      
      overflow: hidden; 
}
.d-fondo {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-image: 
        linear-gradient(rgba(248, 243, 229, 1), rgba(255, 255, 255, 0)),
        linear-gradient(rgba(255, 255, 255, 0) 40%, rgb(239, 128, 8, 1) 100%),
        url('/images/fondo.jpg');
    background-size: cover;  
    background-position: center;  
}
.d-contenido {
    display: flex;    
    position: relative;
    z-index: 2;
    padding: 20px;    
}
.d-contenido img {
    width: 25px;
    height: 50px;
}
.d-contenido h2 {
    font-family: "Open Sans", sans-serif;
    font-weight:bold; 
    margin-top: 15px;  
    margin-left: 20px;
    color: #EF8008;
    font-size: 2em;
}
.d-lugar {
    position: relative;
    z-index: 2;
    text-align: center;
    width: 100%;    
}
.d-lugar p {
    font-family: "Open Sans", sans-serif;
    font-weight:600;
    color: #804712;
    font-size: 1.2em;
}
.d-maps {
    position: relative;
    z-index: 2;   
    text-align: center; 
    margin: 30px auto;
    width: 90%; 
    max-width: 800px; 
    height: 400px;  
    overflow: hidden;
    border: 4px solid #EF8008;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}
.iframe-container {
    position: relative;
    width: 100%;
    height: 100%; 
    overflow: hidden;   
    margin: 0;
}
.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    border: 0;
}

/* Coffee complemento */
.coffee-bg {
    width: 100%;
    background: linear-gradient(rgb(239, 128, 8), rgba(239, 128, 8, 0.9)); 
    text-align: center;  
    padding-bottom: 100px;   
}
.coffee-titulo-menu {
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: flex-start;
    padding-left: 50px;
    margin: 0 auto;    
    padding-top: 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em; 
    color: white;
}
.coffee-container {
    /*display: flex;
    justify-content: center;
    padding: 30px;
    padding-left: 100px;
    max-width: 800px;
    margin: 0 auto; */ 
    display: flex;
    flex-direction: column;    
    align-items: center;   
}
.coffee-cafe{    
    display: flex;
    flex-direction: column;    
    margin-bottom: 20px;
    text-align: left;
    min-width: 500px; 
}
.coffee-tittle {      
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    color: white;
    margin: 20px 0; 
}
.coffee-icon {
    width: 25px;
    height: 50px; 
    margin-right: 10px; 
}
.coffee-list-expresso, .coffee-list-latte, .coffee-list-short {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin: 10px 0 10px;
}
.coffee-image {
    max-width: 150px;
    max-height: 150px;    
}
.coffee-list {
    list-style-type: none;      
    text-align: left;    
    line-height: 30px;    
}
.coffee-list li {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em; 
    color: white; 
    margin: 5px 0;
}
.coffee-drinks {
    display: flex; 
    flex-direction: column;   
    text-align: left;
    margin-bottom: 20px; 
    min-width: 500px;
}
.coffee-drinks-image {
    display: flex;
    justify-content: center; 
    align-items: stretch;
}
.drinks-image {
    height: 600px; 
}
.drinks-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;      
    text-align: left;
    height: 600px;    
}
.drinks-list li {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2em; 
    color: white;     
}
.price {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}
.price.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Footer */
.footer-container {
    margin: 30px;
    text-align: center;    
}
.footer-container h2 {
    margin: 20px;
    font-size: 1.5em;
    font-family: "Open Sans", sans-serif;
    font-weight:bold;
    color: #804712;
}
.footer-p1 {
    font-size: 1.1em;
    font-family: "Open Sans", sans-serif;
    font-weight:500;
    color: #804712;
    margin: 10px;
}
.footer-p2 {
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    font-weight:500;
    color: #804712;
    margin: 10px;
}


@media(max-width:550px){
    /* navbar con logo grande*/
    .menu {
        padding: 0 20px 0;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;        
        display: flex;
        opacity: 0;
        transform: translateY(-10px);
        /*transition: opacity 0.5s ease, transform 0.5s ease;*/
        pointer-events: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    .menu .navbar.open {            
        opacity: 1;
        transform: translateY(0);
        transition: opacity 0.5s ease, transform 0.5s ease;
        pointer-events: auto;
    } 
    .menu-icono {    
        width: 45px;
        padding-top: 20px;
    }
    .logo {
        margin-left: 0;        
        width: 35px;
        height: 35px;
     }    

    .logo-imagen img {
        width: 180px;
    }

    /*Direccion */
    .d-contenido h2 {
        font-size: 1.2em;
    }
    .d-lugar p {
        font-size: 0.9em;
    }

    /* Menu bebidas */    
    .coffee-cafe{ 
        min-width: 290px;        
    }    
    .coffee-list {
        font-size: 0.8em;
    }
    .coffee-image {
        max-width: 80px;
        max-height: 80px;  
    }
    .coffee-drinks {        
        min-width: 290px;       
    }   
    .drinks-list {
        font-size: 0.8em;
        justify-content: space-between;
        height: 400px; 
    }     
    .drinks-image {        
        max-width: 120px;
        max-height: 400px;
    }
    

    /* Footer */
    .footer-p1 {
        font-size: 1.1em;        
    }
    .footer-p2 {
        font-size: 0.9em;       
    }
         
}

@media (max-width: 340px) { 
    .d-contenido h2 {
        font-size: 1em;
    }
    .coffee-image {
        visibility: hidden;
    }
    .drinks-image {
        visibility: hidden;
    }
}
