*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    list-style: none;
}
.header {    
    display: flex;
    align-items: center;
    min-height: 70vh;
    background-color: #F8F3E5;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
   width: 50px;
   height: 50px;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #ce967b;
    display: block;
    font-weight: 600;
}
.menu .navbar ul li a:hover{
    color: #f7d0bd;
}
#menu { /* id del checkbox */
    display: none;
}
.menu-icono {
    width: 50px;    
}
.menu label {
    cursor: pointer;
    display: none;
}

@media(max-width:720px){
    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;        
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    #menu:checked ~ .navbar {
        display: initial;
    }     

}


