*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
    list-style: none;
}
.header {    
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 10vh;
    background-color: #F8F3E5;  
    transition: min-height 0.5s ease;    
}
.header.open {
    min-height: 30vh;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.menu {
    position: relative;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.logo {
   width: 50px;
   height: 50px;
}
.menu .navbar ul li {
    position: relative;
    float: left;
}
.menu .navbar ul li a {
    font-size: 20px;
    padding: 30px;
    color: #ce967b;
    display: block;
    font-weight: 600;
}
.menu .navbar ul li a:hover{
    color: #f7d0bd;
}
#menu { /* id del checkbox */
    display: none;
}
.menu-icono {
    width: 50px;    
}
.menu label {
    cursor: pointer;
    display: none;
}

.logo-imagen {
    text-align: center;
    width: 100%;   
    background-color: #F8F3E5;     
    max-width: 100%; 
    height: auto; 
}
.logo-imagen img {
    width: 400px;
}


@media(max-width:720px){
    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }
    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;        
        display: none;
    }
    .menu .navbar ul li {
        width: 100%;
    }
    .menu .navbar.open {
        display: initial;        
    } 
         
}


